.landing {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(rgba(76, 76, 76, 0.08) 1px, transparent 2px),
    linear-gradient(90deg, rgba(76, 76, 76, 0.08) 1px, transparent 2px);
  background-size: 60px 60px;
  background-position: center;
} 


.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}