@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.landing {
  position: relative;
  background-color: #030303;

  /* Brighter + more visible white grid */
  background-image:
    linear-gradient(rgb(62, 62, 62) 1px, transparent 1px),
    linear-gradient(90deg, rgb(57, 57, 57) 1px, transparent 1px);

  background-size: 55px 50px;
  background-position: center;
}

/* Dark overlay behind content + blur */
.landing::before {
  content: "";
  position: absolute;
  inset: 0;

  /* Darker overlay for more contrast */
  background: rgba(0, 0, 0, 0.556);

  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  z-index: 0;
}

/* Ensure all page content stays above overlay */
/* All direct children EXCEPT the modal stay above overlay */
.landing > *:not(.signup-modal) {
  position: relative;
  z-index: 1;
}




@font-face {
  font-family: 'ZodiakBold';
  src: url('/fonts/OTF/Zodiak-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.heading-font {
  font-family: 'ZodiakBold', sans-serif;
}
