@import "tailwindcss";

body {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(rgba(255,255,255,0.08) 2px, transparent 3px),
    linear-gradient(90deg, rgba(255,255,255,0.08) 2px, transparent 3px);
  background-size: 70px 70px;
  filter: blur(0.2px); 
  background-position: center;
} 